@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="login-container">
        <form method="post" action="/Home/Login">
            <h2>🔐 Giriş Paneli</h2>

            @if (ViewBag.Error != null)
            {
                <div style="color:red; margin-bottom:10px;">@ViewBag.Error</div>
            }

            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" name="username" placeholder="Kullanıcı Adı" required />
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" placeholder="Şifre" required />
            </div>
            <button type="submit" class="login-btn">Giriş Yap</button>
        </form>
    </div>
</body>
</html>
